<!DOCTYPE html>
<html lang="en">
<head>
    {% import "common.html" as macros %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" type = "text/css" href = "{{ url_for('static',filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batch Students</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
</style>
</head>
<body>


 <!--Side Bar -->
 {{macros.build_sidebar(name=name, role=role, pages=pages, selected="Batch Students")}}
 <div class="mainarea"> 

 <span class="underline">
   <h3>Batch Students</h3>
   </span>
 {{macros.buildtable(headers=headers, tableData=tableData)}}
 </div>

<div class="container">
    <img src="/static/images/branding.png" alt="thiennhansoft" class="branding"/>
</div>
</body>
</html>